.waterBlock {
  width: 75px;
  height: 360px;
  background: #c4c4c4;

  display: flex;
  align-items: flex-end;

  position: relative;

  .spinner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
.fill {
  flex: 1;
  background: #67c8ff;
  // height: 10%;
  transition: 1s height ease;
}

.waterBalanceText {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
