.container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.nameSensor {
  font-weight: 500;
  font-size: 16px;

  color: #000000;
}

.img {
  width: 75px;
  height: 75px;

  object-fit: cover;
}

.inner2 {
  width: 300px;
  margin-left: 16px;
}
